@using LinkHolder.Utils

@model LinkHolder.ViewModels.HomeListTags

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">@Model.Title</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <tr>
                        <th>
                            Content/URL
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Tags
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var link in Model.Links)
                    {
                        <tr>
                            <td>
                                <a href="@link.Content" target="_blank">@link.Content.Truncate(60)</a>
                            </td>
                            <td>
                                @link.Title
                            </td>
                            <td>
                                @foreach (var tag in link.LinkTags)
                                {
                                    @Html.ActionLink("[" + tag.Tag.Name + "]", "ListTags", "Home", new { id = tag.Tag.Id }, null)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>